<div class="hero-section">
  <div class="hero__title">
    Capture the essence of a looong text easily
  </div>
  <div class="try-now">
    <a href="#text-container">
      Try it!<br />↓
    </a>
  </div>
  <div class="columns">
    <div class="column why-it-matters">
      <h5>Why it matters</h5>
      <p>
        <b>Your customers’ time is precious.</b> <br />
        Don’t waste it by having them read lengthy texts, like privacy policies or terms and conditions. With Keep It Simple, you can offer a short summary for the clauses very easily. Your customers can grasp the outline of the text very quickly – they will ike you for that!
      </p>
      <p>
        <b>Accesibility: </b>Using a screen reader makes it hard to “scan” a long text. With short summaries, you make your website more accessible.
      </p>
    </div>
    <div class="column how-it-works">
      <h5>How does it work?</h5>
      <p>
        <b>Capture the essence of each paragraph by explaining it in your own words:</b> Click on the microphone button  and speak about the paragraph, like you would talk to a co-worker or friend. Your explanation will be transformed into written text which you can edit afterwards.
      </p>
      <p>
        <b>Keep in mind: You cannot use more than 500 characters in your summary!</b> Your spoken text can be longer, but you will have to edit it to stay within the 500 characters limit.
      </p>
    </div>
  </div>
</div>