.form-wrapper {
  display: flex;
  align-items: flex-start;
}

.microphone-button {
  font-size: 2rem;
  line-height: 1;
  padding: 0.5rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  position: relative;
  background: linear-gradient(120deg, $blue, $turquoise);
  margin-right: 1.5rem;

  &.listening {
    &::before {
      content: "";
      border-top: 2px solid $blue;
      border-bottom: 2px solid $turquoise;
      border-radius: 50%;
      animation: MicrophoneActive 2s linear infinite;
      z-index: 100;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      box-sizing: border-box;
    }
  }
}

@keyframes MicrophoneActive {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-field {
  flex: 1 0 auto;
  padding-top: 0.5rem;

  .speech-input {
    border-radius: 6px;
    background: $white-ter;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.2;

    &:disabled {
      background: inherit;
    }
  }
}