<div class="hero-section">
  <div class="hero__title">
    Capture the essence of a looong text
  </div>
  <div class="try-now">
    <a hred="#text-container">
      Try it!<br />↓
    </a>
  </div>
  <div class="columns">
    <div class="column why-it-matters">
      <h5>Why it matters</h5>
      <p>
        <b>Respect your customers' time:</b>
      </p>
      <p>
        <b>Accesibility: </b>
      </p>
    </div>
    <div class="column how-it-works">
      <h5>How does it work?</h5>
      <p>
        Capture the essence of each paragraph by explaining it in your own words: Click on the microphone button  and speak about the paragraph, like you would talk to a co-worker or friend. Your explanation will be transformed into written text which you can edit afterwards.
      </p>
      <p>
        Keep in mind: You cannot use more than 500 characters in your summary! Your spoken text can be longer, but you will have to edit it to stay within the 500 characters limit.
      </p>
    </div>
  </div>
</div>